h1, h2, h3, h4, h5 {
  font-family: 'Raleway', sans-serif;
}

p {
font-family: 'Open Sans', sans-serif;
}


body {
  background-color: #EFEDF2;

}


.headshot {
  background-image: url("https://images.unsplash.com/photo-1523958631412-cd125bb67e58?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=5db2d9bf033d42dcf542a08d7fa695f1&auto=format&fit=crop&w=1019&q=80");
  height: 500px;
  background-size: cover;
  color: white;
  margin-left: auto;
  margin-right: auto;
}


.icon {
  display: inline !important;
  width: 10%;
  height: auto;
}

.card {
  width: auto;
  height: 50%;
}


.photo {
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
}

.card-img-top {


}
