.headshot {
background-image: url("assets/headshot.jpg");
height: 600px;
background-size: cover;
color: white;
}

.icon {
  display: inline !important;
  width: 10%;
  height: auto;
}

.card {
  width: 50%auto;
  height: 50%;
}

/* #cards {
  background-color: #040A1A;
}

#middle {
  background-color: #B8B7BD;
} */
